<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tags Input (Angular1 directive)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div ng-app="tagApp" ng-controller="mainController">
  <div class="share">
    <div class="share__header">Share "{{fileName}}" with others</div>
    <div class="share__input">
      <email-input emails="emails"></email-input>
    </div>
  </div>
  <div class="buttons">
    <div class="buttons__wrapper">
      <button class="buttons__common buttons__common_theme_add" ng-click="addRandomEmail()">Add email</button>
      <button class="buttons__common buttons__common_theme_count" ng-click="alertEmailsCount()">Get emails count</button>
    </div>
  </div>
</div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
